################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestConsoleApplication/bin/Debug
/TestConsoleApplication/obj/Debug
/.vs/TestConsoleApplication/v15
/TestConsoleApplication.v11.suo
/InterviewPractice/InterviewTopics/TestProject/obj
/InterviewPractice/InterviewTopics/TestProject/bin/Debug/netstandard1.4
/InterviewPractice/InterviewTopics/InterviewTopics/obj
/InterviewPractice/InterviewTopics/InterviewTopics/bin/Debug/netstandard1.4
/InterviewPractice/InterviewTopics/.vs/InterviewTopics/v15
