################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestConsoleApplication/bin/Debug
/TestConsoleApplication/obj/Debug
/.vs/TestConsoleApplication/v15
/TestConsoleApplication.v11.suo
/InterviewPractice/InterviewTopics/TestProject/obj
/InterviewPractice/InterviewTopics/TestProject/bin/Debug/netstandard1.4
/InterviewPractice/InterviewTopics/InterviewTopics/obj
/InterviewPractice/InterviewTopics/InterviewTopics/bin/Debug/netstandard1.4
/InterviewPractice/InterviewTopics/.vs/InterviewTopics/v15
/InterviewPractice/InterviewTopics/TestProject/bin/Debug/netstandard1.6
/InterviewPractice/InterviewTopics/TestProject/bin/Debug/netstandard1.6
/InterviewPractice/InterviewTopics/UnitTestProject/obj/Debug
/InterviewPractice/InterviewTopics/UnitTestProject/bin/Debug
/InterviewPractice/InterviewTopics/packages
/InterviewPractice/InterviewTopics/Fleet/obj/Debug
/InterviewPractice/InterviewTopics/Fleet/bin/Debug
/ABGlobal/ABGlobal/ABGlobal/obj/Debug
/ABGlobal/ABGlobal/.vs/ABGlobal/v15
/ABGlobal/ABGlobal/ABGlobal/bin/Debug
/ABGlobal/ABGlobal/ABGlobal/Properties
